body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
  }

  /* HEADER */

  #header-nav {
    padding-bottom: 20px;
    background-color: #acacac;
    border-radius: 0;
    border: 0;
    border-bottom: black solid 2px;
  }

  .navbar-brand {
    padding-top: 25px;
  }

  .navbar-brand h1 { /* Restaurant name */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    line-height: .75;
  }

  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: black;
    text-align: center;
    border-bottom: 2px solid black;
  }

  #nav-list li:last-child a {
      border-bottom: none;
  }

  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
  }

  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }

  /* END HEADER */

  /* PAGE */

  body > h2.text-center {
      font-weight: bold;
      font-size: 175%;
      color: black;
      margin-bottom: 50px;
  }

  body > .container {
      background-color: #acacac;
      color: black;
      width: 95%;
  }

  body > .container h3 {
      font-weight: bold;
      text-align: center;
  }

  body > .container p {
      font-weight: 500;
  }

  /********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */
    #header-nav {
        padding-bottom: 0px;
    }

    .navbar-brand {
      padding-top: 10px;
      height: 45px;
    }
    .navbar-brand h1 { /* Restaurant name */
      padding-top: 10px;
      margin-left: 10px;
      font-size: 5vw; /* 1vw = 1% of viewport width */
    }
  
    #collapsable-nav a { /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }

    #collapsable-nav {
        border-top: 2px solid black;
    }

    /* End Header */

    /* PAGE */
    body > .container {
        width: 70%;
    }
  }

  /********** Super Extra small devices only **********/
  @media (max-width: 479px) {
    /* Header */
    #header-nav {
        padding-bottom: 0px;
    }

   .navbar-brand h1 {
    padding-top: 10px;
    margin-left: 5px;
    font-size: 6vw;
   }
  }